@model IEnumerable<MyReview.Models.ReviewsModel>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>My Review!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/valid.js"></script>
    <style>
        .checked {
            color: orange;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-xs" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">
            <img src="~/Content/img/logo.png" height="30px" />
        </a>
        <div class="" id="navbarSupportedContent">
            <nav class="nav">
                <a class="nav-link active " href="#">Login</a>
                <a class="nav-link m-0 p-1" href="#"><button type="button" class="btn btn-sm btn-outline-danger">Sign Up</button></a>
                <a class="nav-link m-0 p-1" href="#"><button type="button" class="btn btn-sm btn-outline-success" onclick="location.href='@Url.Action("WriteReview","Review" )'">Write a Review</button></a>
            </nav>
        </div>
    </nav>
    <div id="divContainer" class="container">
        @{
            if (Model != null)
            {
                if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        var imgSrc = "/Content/img/" + item.ImageName;
                        <div class="row pad">
                            <div class="col-md-2 srch-panel">
                                <img src="@imgSrc" width="200" />
                            </div>
                            <div class="col-md-10 srch-panel">
                                <div class="media search-media">
                                    <div class="media-body">
                                        <div>
                                            <h4 class="media-heading">
                                                <a href="#" class="blue">Balloon Decoration 2</a>
                                            </h4>
                                        </div>
                                        @*<div>
                                            <h4 class="media-heading">
                                                <a href="#" class="blue">Partner Name</a>
                                            </h4>
                                        </div>*@
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <p>
                                            <b>Your Review</b><br>
                                            §  Satin cloth backdrop of 12 x 7 feet
                                            §  2 balloon pillars 7 feet as show in the image
                                            §  Backdrop decoration with 10 rows of serial lights 3 balloon bunches and hanging netted cloth
                                            §  4 LED power cans will be placed on the stage
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
    <footer class="" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active p-1 m-0" href="#">Home |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 m-0" href="#">About Us |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 m-0" href="#">Contact Us |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 m-0" href="#">Terms & Conditions |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 m-0" href="#">Blog |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 m-0" href="#">Help</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"><img src="~/Content/img/facebook.png" width="40px" height="40px" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="~/Content/img/linkedin.png" width="40px" height="40px" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="~/Content/img/google.png" width="40px" height="40px" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="~/Content/img/twitter.png" width="40px" height="40px" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-center text-dark p-2 m-2">copyright&copy;2019 - All Rights Reserved</p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>